%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{plugins, [rebar_lock_deps_plugin]}.
{deps, [
	{rebar_lock_deps_plugin, ".*", {git,"git://github.com/seth/rebar_lock_deps_plugin.git", "master"}},
	{resource_manager, "0.0.*", {git, "git@10.10.1.81:resource_manager.git", "master" }}
	]}.
