%%-*- mode: erlang -*-
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{plugins, [rebar_lock_deps_plugin]}.
{deps, [
	{webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD" }},
	{rebar_lock_deps_plugin, ".*", {git,"git://github.com/seth/rebar_lock_deps_plugin.git", "master"}}
	]}.


